

/* set te img  :: width % , float : left/right*/


/*------------ new changes for my site*/

/* for navigation Bar  */

body{
  font-family: 'Permanent Marker', cursive;
  /* font-family: 'PT Serif', serif; */
  background-color: #ffe8df;
}

.navbar {
   height: 20;
    /* width: 100%; */
 margin: 20px;
  position: fixed;
line-height: 1.5;
  margin-top: auto;
}

/* .nav-bar{
  background-color: #ffe8df;
  line-height: 0;
} */

.my-pic {
  border-radius: 50%;
}

.intro{
/* background-color:#ffd8a6; */
background-color:#f0ece3;
margin: 20px;
}

#email{
  color: #12cad6;
}

#phone {
  /* color : #79d70f; */
}

.call {
  color: #79d70f;
}

h4{
  padding-top: 20px;
/* font-family: 'Permanent Marker', cursive; */
}

button {
  margin-right: 20px;
}


/* forAbout dib*/

.about {
  background-color:#dfd3c3;
  margin : 20px;

}



/* experience */
.experience{
    background-color:#c7b198;
    margin : 20px;
}


.education{
  background-color:#596e79;
  margin : 20px;
}

#work-ex{
  /* padding-bottom: 10px; */
}

#role{

}

/* Projects */
.projects{
  background-color:#c7b198;
  margin : 20px;
}

#academic-proDetails{
  text-decoration: underline;
}


#prof-pro {
  visibility: visible;
}

#prof-pro {
  visibility: visible;
}

.cursor{
padding-left: 60px;
padding-right: 60px;
}

/* Skills */
.skills{
  background-color:#dfd3c3;
  margin : 20px;
}


/* certification */
.certification {
  background-color:#e4e3e3;
  margin : 20px;
}
